.qodo
*/.qodo
./*/.qodo

node_modules
*/node_modules
./*/*/node_modules

venv
*/venv
*/migrations
./*/*/venv

*/.env
.env

*/__pycache__/
__pycache__/
./*/__pycache__/

*/.pytest_cache
__pycache__/
*.pyc
Backend/middlewares/__pycache__

*/logs